<div class = "form-container">
	<%= render 'shared/error_messages' %>
	<%= form_for(@user, url: yield(:submit_path)) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name, class: "form" %>

		<%= f.label :email %>
		<%= f.text_field :email, class: "form" %>

		<%= f.label :password %>
		<%= f.password_field :password, class: "form" %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, class: "form" %> 

		<%= f.submit yield(:button_text), class: "btn" %>
	<% end %>
</div>